.panel {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    display: flex;
    border: solid 1px rgba(200, 200, 200, 0.35);
    width: 100%;
    text-align: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.025);
}

.glow {
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.3);
}

.panel:hover {
    color: rgba(225, 225, 225, 1);
    cursor: pointer;
}

.control {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.15);
    border: solid 1px rgba(200, 200, 200, 0.35);
    width: 100%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.025);
}

.control:hover {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    color: rgba(225, 225, 225, 1);
    cursor: pointer;
}

.accordionPanel {
    background-color: rgba(36, 36, 36, 0.5);
    padding: 4px;
}

.input {
    background-color: rgba(155, 155, 155, 0.55);
}