.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 999;
}

.moneyBox {
    background-color: rgba(39, 43, 54, 0.98);
    width: calc(24%);
    max-width: 300px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 2px 5px rgba(10, 10, 10, 0.025);
}