.editorContainer {
    backdrop-filter: blur(5px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text {
    color: rgba(255,255,255,0.25);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.editor {
    display: block;
    background-color: rgba(39, 43, 54, 0.98);
    width: 40%;
    max-width: 300px;
    max-height: calc(63.5vh);
    border: solid 1px rgba(250,250,250,0.1);
    border-radius: 6px;
    box-shadow: 1px 2px 5px rgba(10,10,10,0.025);
    overflow: auto;
    align-items: center;
    align-content: center;
}

.option:hover {
    background-color: rgba(155, 155, 155, 0.15);
}

.input {
    background-color: rgba(39, 43, 54, 0.65)
}

.pill {
    background-color: rgba(30, 30, 30, 0.6);
    color: white
}