.root {
    position: relative;
    padding: calc(var(--mantine-spacing-xs));
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 99%;
}

.value {
    font-size: rem(24px);
    font-weight: 700;
    line-height: 1;
}

.diff {
    line-height: 1;
    display: flex;
    align-items: center;
}

.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}