.itemContainer {
    overflow: auto;
}

.item {
    background-color: rgba(39, 43, 54, 0.3);
    border-radius: 4px;
    border: solid 1px rgba(200,200,200,0.15);
    border-radius: 6px;
}

.option:hover {
    background-color: rgba(155, 155, 155, 0.15);
}