.container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.panel {
    background-color: rgba(31, 31, 31, 0.99);
    position: absolute;
    display: flex;
    height: calc(80%);
    width: calc(70%);
    max-height: 700px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.25);
    overflow: hidden;
}