.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 999;
    overflow: hidden;
}

.box {
    background-color: rgba(45, 45, 45, 0.98);
    width: calc(32%);
    max-width: 350px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 2px 5px rgba(10, 10, 10, 0.025);
    overflow: hidden;
}