.container {
    display: flex;
    height: calc(100vh);
    align-items: center;
    align-content: center;
    width: calc(15vw);
}

.box {
    position: relative;
    background: radial-gradient(circle, rgba(90, 90, 90, 0.25) 0%, rgba(63, 65, 74, 0.5) 90%);
    min-width: 300px;
    border-radius: 4px;
}

.title {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    color: rgba(220,220,220,1);
    display: block;
    border: solid 1px rgba(200, 200, 200, 0.35);
    width: 100%;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.025);
    padding: 1px;
}

.items { 
    position: relative;
    display: block;
    max-height: 400px;
    overflow: auto;
}