.card {
    background-color: rgba(39, 43, 54, 0.3);
    border: solid 1px rgba(200, 200, 200, 0.15);
    border-radius: 6px;
}

.description {
    max-height: 70px;
    overflow: auto;
    border-radius: 4px;
}

.copy:hover {
    color: white;
    cursor: pointer;
}