.container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}

.cashier {
    background: linear-gradient(270deg, rgba(33, 36, 46, 1) 0%, rgba(33, 36, 46, 0) 100%);
    position: absolute;
    display: flex;
    height: 100%;
    right: 0;
    width: 50%;
    max-width: 600px;
    padding: 10px;
}

.content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    width: 60%;
    max-width: 400px;
}

.box {
    width: 100%;
    height: 70vh;
    overflow: auto;
}

.panel {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    display: flex;
    border: solid 1px rgba(200, 200, 200, 0.35);
    width: 100%;
    text-align: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.025);
}

.products {
    position: relative;
    height: calc(50vh);
    overflow: auto;
    margin-top: 10px;
}

.product {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    display: flex;
    border: solid 1px rgba(200, 200, 200, 0.35);
    width: 100%;
    text-align: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.025);
}

.glow {
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.3);
}

.panel:hover {
    color: rgba(225, 225, 225, 1);
    cursor: pointer;
}

.empty {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh);
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.3);
}

.control {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.15);
    border: solid 1px rgba(200, 200, 200, 0.35);
    width: 100%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.025);
    justify-items: center;
    align-items: center;
}

.control:hover {
    background: radial-gradient(circle, rgba(90, 90, 90, 0.55) 0%, rgba(63, 65, 74, 0.8) 90%);
    color: rgba(225, 225, 225, 1);
    cursor: pointer;
}