@media (min-height: 900px) {
    .container {
        border: solid 1px rgba(200, 200, 200, 0.02);
        box-shadow: 1px 2px 10px rgba(150, 150, 150, 0.05);
    }
}

.restaurants {
    display: flex;
    background-image: url('/background.png');
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    background-color: rgba(39,43,54,0.2);
    height: calc(100%);
    max-height: 900px;
    width: calc(100%);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: calc(2.05vh);
}

.content {
    height: calc(95%);
    max-height: calc(80vh);
    width: 100%;
    overflow: hidden;
}