.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

.card {
    background-color: rgba(39, 43, 54, 0.3);
    border: solid 1px rgba(200,200,200,0.15); 
    border-radius: 6px;
}

.card-title {
    color: var(--mantine-color-white);
    opacity: 0.65;
}

.stats {
    color: var(--mantine-color-white);
}

.progressSection {
    background-color: var(--mantine-color-white);
}

.progressTrack {
    background-color: var(--mantine-color-dark-4);
}